body { 
  background: url(/src/img/mic-stand.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.canvas{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00004d;
  background-image: linear-gradient(#00004d, #000);
  opacity: 0.6;
}

.music-btn-play, .music-btn-pause{
  cursor: pointer;
  font-size:12vw;
  color: aliceblue;
}

.music-btn-pause {
  display: none;
}
