@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Login Page */
html { 
  background: url(/src/img/microphone.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login {
  font-family: 'Playfair Display', serif;
  color: #fff;
  background-color: #ff6249;
  padding: 25px;
  border-radius: 5px; 
  opacity: 0.9; 
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.login-logo {
  width: 60%;
}

.login-signup-link {
  color: #fff;
}

.login-forgot-link {
  color: #424949;
  font-size: 12px;
}

.login-forgot-link:hover, .login-signup-link:hover {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}